.cont{
    width: 100%;
    display: flex;
    min-width: 600px;
    align-items: center;
    zoom: .8;  
    
}

.rechercher{
    margin-top: 0.3cm;
}
.contain{
    width: 100%;
    min-width: 900px;
}
.card{
    min-width: 140px;
    max-width: 250px;
    max-height: 400px;
}
.corp{
    margin-top: 0.3cm;
    min-width: 900px;
}
.vide{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-top: 1cm;
}
