.container-utilisateurw {
    margin: 1rem;
    min-width: 900px;
    zoom: .8;
    .header-utilisateur{
        width: 120%;
        align-items: center;
        text-align: center;
        padding-bottom: 1rem;
        font-size: 25px;
    }
    .table-utilisateur {
        display: flex;
        justify-content: space-between;
        table {
            width: 90%;
            height: auto;
        }

        form {
            padding: .5rem;
            border: 1px  solid grey;
            width: 25%;
            border-radius: 8px;
            height: 430px;

            span {
                border-bottom: 1px solid black;
            }

            .class {
                margin-top: .5rem;

                button {
                    width: 100%;
                    font-weight: bold;
                }
            }
        }
    }
}
.action{
    width: 3cm;
    padding-left:  0.8cm;
}
.active{
    font: 15px;
    font-size: 12px;
    width: 50%;
}
.table {
    background: #ffffff;
    color: rgb(0, 6, 14);
    font-size: .85rem;
    width: 100%;
    min-width: 600px;
}
.pagination{
    display: flex;
    justify-content:end
}
.teteTable{
    background: rgb(37, 188, 214);
}
.bodyyy{
    text-size-adjust:initial;
}
.stat{
    zoom: 1;
    width: 4rem;
}
.ico{
    zoom: 1.5;
    width: 2rem;
}
@media screen and (max-width:900px) {
    .pagination{
        justify-content: center;
    }
    .form{
        min-width: 400px;
    }
    .table {
        background: #ffffff;
        color: rgb(0, 6, 14);
        font-size: .80rem;
        width: 70%;
        min-width: 500px;
    }
}
@media screen and(max-width:600px) {
    .form{
        min-width: 400px;
    }
    .table {
        background: #ffffff;
        color: rgb(0, 6, 14);
        font-size: .80rem;
        width: 60%;
        min-width: 500px;
        justify-content:left;
    }

}
.new{
    margin-left: 3rem;
    font-size: 18px;
    text-align: center;
}
.supp{
    align-items: center;
    background-color: rgb(238, 233, 233);
    color: red;
}
.supp:hover{
    background-color: red;
    color: white;
}
