<div class="container-tache">
    <div>
        <span>voici le liste de tache</span>
    </div>
    <div>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>f </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>